/* apply below style to all elements in the page */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*to avoid box model problem , margin ,padding, border does not affect  */
  outline: none; /* outline along button */
  border: none;
  text-decoration: none; /* removes underline from anchor tag */
  text-transform: capitalize; /* First letter capital */
  overflow: hidden; /* clips off extra part going out of the box */
  scroll-behavior: smooth; /* smooth effect */
}

/* styling menu section */
.header {
  position: fixed; /* remain fixed on scrolling */
  top: 0px;
  left: 0px;
  right: 0px;
  height: 64px;
  background-color: pink;
  z-index: 100; /* header menu item for raised */
}

.header .nav-bar {
  display: flex; /* make it flex, for moving  THIS IS THE LATEST ITERATION OF FLEXBOX */
  /* by default row wise align */
}
.header .nav-bar a {
  /*  now targeting every anchor tag */
  flex: 1; /* equally spaced */
  text-align: center; /* for aligning text in flex box item to horizontal center */
  font-size: 22px;
  line-height: 64px; /* distance between lines ,for aligning center vertically */
  color: aliceblue;

  justify-content: center;
}
/* applying pseudo selector */

.header .nav-bar a:hover {
  filter: brightness(0.8);
  color: skyblue;
}

.header .nav-bar span {
  margin-left: 10px;
}

/* Styling main body section */

.container {
  display: flex;
  width: 500%;
  height: 100vh;
}

.container .main-section {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center; /*aligns vertically center*/
  align-items: center; /*aligns horizontally center*/
  justify-content: center;
  font-size: 8vw; /* for responsive behavious */
  letter-spacing: 0.5rem; /* space between letters */
  text-transform: uppercase;
  font-weight: bold;
}

/* Apply meadia quesry to apply for styling wrt different devices */
@media (max-width: 600px) {
  .header .nav-bar a span {
    display: none; /* hides the menu text , only shows icon, upto 600px */
  }
}
